<div class="nested-fields">
   <div class="row">
	    <div class="col-xs-6 col-sm-3">
	        <%= link_to_remove_association "Eliminar esta Boquilla", f, class: 'btn btn-danger btn-xs' %>
	   </div>
   </div>
   <div class="row"> <br> </div>

  <div class="row">
    <div class="col-xs-6 col-sm-3">
    	 <%= f.input :marca %>
    </div>
    <div class="col-xs-6 col-sm-3">
    	 <%= f.input :tipo %>
    </div>
    <div class="col-xs-6 col-sm-3">
    	 <%= f.input :num_serie %>
    </div>
    <div class="col-xs-6 col-sm-3">
    	  <%= f.input :kv %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
    	 <%= f.input :amp %>
    </div>
    <div class="col-xs-7 col-sm-5">
    	 <%= f.input :fecha_fabricacion %>
    </div>
  </div>
</div>
<div class="row"> <br> </div>
